# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.VFX.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Toolkit\toolkit\Toolkit\Events\VFX\.idea\.idea.VFX.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
